*{margin:0;padding:0;border:0;}

html,
body,
#app, #root {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

img {
  border: 0;
  vertical-align: middle;
}

canvas {
  display: block;
}

ul,ol,li {
  list-style: none;
}

pre{
  margin-bottom:0px;
}
